header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFBF30;
    z-index: 100;
}
header h3 {
    text-align: center;
    padding: 5px 0;
    color: #7F6018;
}

article {
    padding: 55px 0 50px;
    overflow-y: auto;
}

footer {
    border-top: 1px solid #FFBF30;
    -webkit-box-shadow: -1px 0 5px #FFBF30;
    -moz-box-shadow: -1px 0 5px #FFBF30;
    box-shadow: -1px 0 5px #FFBF30;
    position: fixed;
    background: #FFFFFF;
    left: 0;
    bottom: 0;
    right: 0;
    height: 49px;
    z-index: 100;
}