section * {
    color: #7F6018;
}
section {
    padding: 5px 3%;
    -webkit-animation: show 0.5s linear;
    -o-animation: show 0.5s linear;
    animation: show 0.5s linear;
}
section:nth-child(2n-1) {
    background: #F4F4F4;
}
section:first-child {
    padding: 0;
    background: #FFFFFF;
}
.share {
    float: right;
    border: 0;
    width: 16px;
    height: 16px;
    background: url("../../images/share.png") no-repeat 0 0/100% 100%;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
section:before {
    content: '\20';
    display: block;
}
section:after {
    content: '\20';
    display: block;
    clear: both;
}

.loading {
    margin: -50px 0 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}